tr[data-mealExcess="false"] {
    color: green;
}

tr[data-mealExcess="true"] {
    color: red;
}

TABLE {
    border-collapse: collapse;
    border: 1px #000000;
}

TD, TH {
    padding: 5px;
    border: 1px solid #000000;
}