<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/cache
         http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- enables scanning for @Cacheable annotation -->
    <cache:annotation-driven cache-manager="noOpCacheManager"/>

    <!--  disable spring cache  -->
    <bean id="noOpCacheManager" class="org.springframework.cache.support.NoOpCacheManager"/>

    <!--  disable second level cache hibernate  -->
    <beans profile="jpa,datajpa">
        <util:properties id="disableCache" location="disable2ndlvlcache.properties"/>

        <context:property-override properties-ref="disableCache"/>
    </beans>
</beans>